<mat-accordion class="main-mt-accordion">
  <mat-expansion-panel class="mt-exp-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> MSc Computer Science</mat-panel-title>
      <mat-panel-description>August 2019 - July 2022 </mat-panel-description>
      <mat-panel-description>Maharishi International University, Fairfield, Iowa </mat-panel-description>
    </mat-expansion-panel-header>
    <ul><li>Technologies: Java, JavaScript, Angular, Spring, Spring Boot, SQL, MongoDB, GIT</li></ul>
  </mat-expansion-panel>
  <mat-expansion-panel class="mt-exp-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> MSc Geospatial Technologies </mat-panel-title>
        <mat-panel-description>August 2017 - Feb 2019</mat-panel-description>
      <mat-panel-description>
        University of Münster, Jaume I University, Spain, Germany
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul><li>Technologies: HTML5, CSS3, JS, D3.js, AngularJS, PostgreSQL, MongoDB, GIS</li></ul>
  </mat-expansion-panel>
  <mat-expansion-panel class="mt-exp-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>BSc Information Technology</mat-panel-title>
      <mat-panel-description>Sep 2009 - Jun 2014 </mat-panel-description>
      <mat-panel-description>Mekelle Institute of Technology, Tigray, Ethiopia</mat-panel-description>
    </mat-expansion-panel-header>
    <ul><li>Technologies: HTML, CSS, Java, JavaScript, JQuery, SQL, PL/SQL, Oracle</li></ul>
  </mat-expansion-panel>
</mat-accordion>