.main-mt-accordion{
    background-color: transparent !important;
    border: none;
    height: 100%;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

.mt-exp-panel{
    border: none;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}