.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
    border: 0px;
}
.main-mt-card{
    background-color: transparent !important;
    border: none;
    height: 80%;
    width: 90%;
    margin-left: 5%;
    margin-bottom: auto;
}