<mat-accordion  class="main-mt-accordion">
  <mat-expansion-panel class="mt-exp-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> Full Stack Java Developer</mat-panel-title>
      <mat-panel-description>Feb  2024 - May 2025 </mat-panel-description>
      <mat-panel-description>TCS - State of Missouri UI,  Jefferson City, MO </mat-panel-description>
    </mat-expansion-panel-header>
    <ul><li>Develop UI features using Java 17, Spring Boot 3, Angular 16</li>
<li>Integrate, test, build and deploy both frontend and backend features</li>
<li>Migrate legacy code from JSP, struts to Angular,  Java, Spring Boot</li>
<li>Meet and discuss with team members on daily stand up</li></ul>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="mt-exp-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> Java Developer </mat-panel-title>
        <mat-panel-description>Jan 2022 - Jan 2024</mat-panel-description>
      <mat-panel-description>
        TCS - Citibank, Irving, Texas
        <!-- State {{panelOpenState() ? 'open' : 'closed'}} -->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul><li>Worked on enhancing Risk management using Java 8 & Spring Boot</li>
 <li>Write unit tests using Junit, Spring Boot Test</li>
<li>Deploy changes into Dev, UAT environments using git, bitbucket, Jenkins</li>
<li>Troubleshoot production issues using logs and lower environment tests</li>
<li>Analyze data related user issues using SQL statements & Oracle database</li>
<li>Meet and discuss with team members on daily stand up</li></ul>
  </mat-expansion-panel>
  <mat-expansion-panel class="mt-exp-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> Backend Developer</mat-panel-title>
      <mat-panel-description>July 2020 - Jan 2021 </mat-panel-description>
      <mat-panel-description>Sngular LLC - PNC Bank, Pittsburgh, PA </mat-panel-description>
    </mat-expansion-panel-header>
    <ul><li>Developed account opening microservices features using Java 8/11, Spring Boot, Spring Web flux, Kafka, Avro, and AWS S3</li>
<li>Perform tests using Junit, Spring Boot Test, postman, and mock services</li>
<li>Deploy to RND, UAT & QA env’ts using docker, Jenkins, Bitbucket, & Openshift</li>
<li>Participate in agile daily stand ups, code review & platform re-architecture</li>
<li>Working on researching possible solution to various bugs & issues or spikes</li></ul>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="mt-exp-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> Assistant Lecturer</mat-panel-title>
        <mat-panel-description>April 2019 - Aug 2019/Sep 2014 - Aug 2017</mat-panel-description>
      <mat-panel-description>
        Adigrat University, Tigray, Ethiopia
        <!-- State {{panelOpenState() ? 'open' : 'closed'}} -->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul><li>Contributed to teaching/learning process, maintenance & support of internal systems</li></ul>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="mt-exp-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> Software Developer</mat-panel-title>
        <mat-panel-description>July 2020 - Jan 2021</mat-panel-description>
      <mat-panel-description>
        Caravan ICET Solutions PLC - REST, Tigray, Ethiopia
        <!-- State {{panelOpenState() ? 'open' : 'closed'}} -->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul><li>Design & development of front-end using HTML, CSS, JSP, JavaScript, & jQuery</li>
<li>Implement three tier applications using JSP, J2EE amb JDBC</li>
<li>Design and implement extensive reports using Jasper Reports</li>
<li>Apply rigorous Agile methodology and sprints to continuously build up the features</li></ul>
  </mat-expansion-panel>
</mat-accordion>

