.menu-toolbar-spacer {
  flex: 1 1 auto;
}
.footer-toolbar-spacer{
    flex: 1 1 auto;
}
// .page-heading{
//     position: absolute;
//     right: 0;    
// }
.footer-toolbar{
    position:fixed;
    bottom: 0;
}
.active{
    background-color: rgba(0,0,0,0.1);
}