<mat-toolbar class="mt-toolbar-class">
<span>{{title}}</span>
<div class="menu-toolbar-spacer"></div>
  <button mat-button routerLink="/home" routerLinkActive="active">Home</button>
  <button mat-button routerLink="/about" routerLinkActive="active">About Me</button>
  <button mat-button routerLink="/experience" routerLinkActive="active">Experience</button>
  <button mat-button routerLink="/education" routerLinkActive="active">Education</button>
  <button mat-button routerLink="/certification" routerLinkActive="active">Awards & Certification</button>
  <button mat-button routerLink="/publication" routerLinkActive="active">Publications</button>
  <button mat-button routerLink="/contact" routerLinkActive="active">Contact Me</button>
</mat-toolbar>
<mat-toolbar class="footer-toolbar">
This is common footer
</mat-toolbar>
<router-outlet/>