/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main-mt-card{
    margin: 20px;
}
.main-mt-card{
    background-color: transparent !important;
    border: none;
    height: 80%;
    width: 80%;
    margin: auto;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
}